/* Phone View */
*{
    margin: 0;
}

@font-face {
    font-family: space1;
    src: url("./SpaceGrotesk-Regular.woff");
}
body {
    font-family: space1;
}
.main_header{
    padding-top: 10px;
    background: #0E0333;
    color: #F6F5F7;
    margin-bottom: 50px;
}
.lightbulb{
   display: block;
    position: absolute;
    width: 7px;
    height: 6px;
    background-color:#F6F5F7;
    border-radius: 50%;
    top: 0px;
    left: 22px;
}
nav ul{
    list-style: none;
}
.inside_nav_container{
    padding: 0;
}
.website_name{
        font-family: space1;
        font-style: normal;
        font-size: 19px;
        font-weight: 700;
        margin: 0;
        line-height: 24px; 
        color: #F6F5F7;
        position: relative;
}
.inside_nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
}
.main_nav{
    position: absolute;
    top:35px;
    right: -8px;
    background-color: white;
    width: 232.01px;
    /* padding: 16px 24px; */


}
.desktop_home{
    display: none;
}
.play{
    position: absolute;
    top: -16px;
    right: 10px;
    color: #FfFfFf;
    font-size: 20px;
    
    
}
.nav_icon{
  position: relative;
  
}
.mobile_navicon{
    cursor: pointer;
}
.nav_item{
    padding: 22px;
    cursor: pointer;


}
.nav_hr{
    margin: 0 auto;
    width: 184.01px;
    height: 0px;
    border: 0.3px solid #D5D2D9;
}
.inside_main_nav{
  padding: 0;
  display: none;
  color:#2F2D33 ;
}

.header_content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-content: center;
    flex-wrap: wrap;
    padding: 80px 60px;
    padding-bottom: 0px;
}
.header_main_content{
    width: 100%;
}
.header_animation{
    width: 100%;
    height: 102px;
    background-color: #767577;
    margin-top: 45px;
}
.shout-out{
    padding-bottom: 12px;
    font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        width: 85%;
        margin: auto;
}
.description_phone{
    padding-top: 12px;
    padding-bottom: 24px;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 75%;
    margin: auto;
    
}
.description_desktop{
    display: none;
}
.explore_btn{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding: 14px 16px;
    border:1px solid #767577;
    background-color: #0E0333;
    color: #F6F5F7;
    display: block;
    margin: auto;
    cursor: pointer;
}
 .nav_container {
     padding: 0 20px;
 }

 .content_header{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    padding: 50px 50px;
    padding-top: 0px;
    padding-bottom: 16px;
 }
 .content_describe{
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;    
    text-align: center;
    color: #716E7A;
    padding: 40px;
    padding-top:0px ;
 }
 .content_animation{
    width: 225.91px;
    height: 80.63px;
    margin: auto;
    margin-bottom: 36px;
    background: #4F4D54;
    
 }
 .content_explore{
    background: #AF97DE;
    border-radius: 4px;
    padding: 14px 16px;
    display: block;
    border: none;
    color: #FfFfFf;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin: auto;
    margin-bottom: 52px;
 }

 .content2_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    background: #0E0333;
    

 }
.content2_animation{
width: 38%;
order: 1;
background: #2F2D33;
height: 105px;
margin-right: 25px;
margin-top: 70px;
}
.content2_main{
    width: 40%;
    margin-top: 55px;
    margin-left: 24px;
    /* margin-bottom: 34px; */
}
.content2_header{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
    color: #FfFfFf;
}
.content2_describe{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 32px;
    color: #FFFFFF;

}
.content2_explore{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background: #AF97DE;
    border-radius: 4px;
    padding: 14px 16px;
    margin-bottom: 22px;
    border: none;
}
.speed_up{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 36px auto;
}
.content3_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
     align-items: center;
}
.main_content3{
    margin:24px;
    width: 100%;
}
.image_contain{
    height: 130px;
    width: 100%;
    
    background: #0E0333;
}
.image{
    display: block;
    height: 120px;
    margin: auto;
}
.main_content3_container{
    height: 120px;
    width: 100%;
    background: #866AC4;
    padding: 5px 0px;
}
.main_content3_container_header{
    font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #E8E6EB;
}
.main_content3_container_describe{
    font-weight: 500;
        font-size: 10px;
        line-height: 15px;  
        text-align: center;
        color: #E8E6EB;
        margin: 16px 0px;
}
.extra_padding{
    padding:0px 12px;
}
.main_content3_container_start{
    font-weight: 700;
        font-size: 11.6861px;
        line-height: 18px;
        color: #EDE3FF;
        text-align: center;
        padding: 6px;
}

.user_review_container{
height: 240px;
background: #0E0333;
position: relative;
padding: 24px 14px;
}

.quote{
    position: absolute;
    bottom: 81px;
    left: 36px;
    width: 40px;
    height: 40px;
}

.main_user_review{
    width: 100%

}

.user_review_header{
    font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #F6F5F7;
        margin-bottom: 16px;
}

.user_image{
    display: block;
width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 16px;
}

.user_review{

}

.user_comment{
    font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        text-align: center;
        margin-bottom: 14px;
            /* Grey / 100 */
        
            color: #F6F5F7;
}

.user_name{
font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;
    margin-bottom: 6px;

    /* Grey/300 */

    color: #D5D2D9;
}

.user_role{
font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Primary / 100 */

    color: #EDE3FF;
}





/* Tablet View */
@media only screen and (min-width: 700px){
    .main_header {
            padding-top: 14px;
            margin-bottom: 180px;
        }
    .nav_icon{display: none;}
    .inside_main_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        color: #F6F5F7;
    }
    .main_nav {
        position:initial;
        background-color: none;
        width: 65%;

    }
    .nav_hr {
        display: none;
    }
    .nav_container{
        padding: 0 60px;
    }
      
    .nav_item {
        padding: 0px;
      

    }
    .main_nav {
        background-color: #0E0333;
 
    }
    .header_main_content {
        width: 47%;
    }

    .header_animation {
        width: 47%;
        height: auto;
        background-color: gray;
    }
    .header_content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        flex-wrap: wrap;
        padding: 80px 60px;
    }
        .shout-out {
           padding-bottom: 12px;
           width: 100%;
            text-align: left;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
        }
    
        .description_desktop {
            padding-top: 18px;
            display: block;
            padding-bottom: 50px;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            text-align: justify;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
    
        }
        .description_phone{
            display: none;
        }
    
        .explore_btn {
            font-weight: 700;
            padding: 14px 16px;
            border: 1px solid #F6F5F7;
            background-color: #0E0333;
            color: #F6F5F7;
            display: inline;
            font-size: 16px;
            line-height: 24px;
        }
        .website_name{
            font-weight: 700;
                font-size: 22px;
                line-height: 26px;
        }
        .lightbulb {
            width: 7px;
            height: 7px;
            top: 0px;
            left: 26px;
        }
        .play{
            display: none;
        }

    .content_header {
        font-size: 40px;
        line-height: 48px;
        padding: 50px 80px;
        padding-top: 0px;
        padding-bottom: 24px;
    }

    .content_describe {
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        padding: 48px;
        padding-top: 0px;
        padding-bottom: 130px;
    }

    .content_animation {
        width: 622px;
        height: 222px;
        margin-bottom: 50px;

    }

    .content_explore {
        font-size: 16px;
        line-height: 24px;
        color: #2F2D33;
        margin: auto;
        margin-bottom: 130px;
    }

        .content2_container {
            background: #0E0333;
            margin-right: 50px;
            margin-left: 50px;
            justify-content: initial
            ;
    
        }
    
        .content2_animation {
            width: 35%;
            order: 0;
            background: #2F2D33;
            /* width: 188px; */
            height: 212.08px;
            margin-left: 36px;
            margin-right: 36px;
            margin-top: 105px;
        }
    
        .content2_main {
            width: 50%;
            margin-top: 105px;
            margin-right: 24px;
            /* margin-bottom: 34px; */
        }
    
        .content2_header {
            font-size: 28px;
            line-height: 36px;
            color: #F6F5F7;
            padding-bottom: 20px;
        }
    
        .content2_describe {
            font-size: 24px;
            line-height: 32px;
            color: #F6F5F7;
            margin-bottom: 36px;
    
        }
    
        .content2_explore {
            font-size: 16px;
            line-height: 24px;
            color: #2F2D33;
            background: #AF97DE;
            border-radius: 4px;
            padding: 14px 16px;
            margin-bottom: 100px;
            border: none;
        }

        .speed_up {
            width: 75%;
            font-size: 52px;
            line-height: 60px;
            text-align: center;
            color: #2F2D33;
            margin-bottom: 56px;
            margin-top: 90px;
        }

                .content3_container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin: 40px 0px;
                }
        
                .main_content3 {
                    
                    width: 33%;
                }
        
                .image_contain {
                    height: 206px;
                    width: 100%;
                    background: #0E0333;
                }
        
                .image {
                    display: block;
                    height: 200px;
                    margin: auto;
                }
        
                .main_content3_container {
                    height: 230px;
                    width: 100%;
                    background: #866AC4;
                    padding: 0px;
                
                }
        
                .main_content3_container_header {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    color: #E8E6EB;
                    padding-top: 6px;
                    padding-left: 15px;
                    padding-right: 15px;
                }
        
                .main_content3_container_describe {
                    font-size: 16px;
                    line-height: 24px;
                    text-align: left;
                    color: #E8E6EB;
                    margin:16px 0px;
                    padding-left: 15px;
                    padding-right: 10px;
                    height: 120px;
                }
        
                /* .extra_padding {
                    padding: 0px;
                    padding-left: 20px;
                } */
        
                .main_content3_container_start {
                    font-size: 16px;
                    line-height: 24px;
                    color: #EDE3FF;
                    text-align: left;
                    padding: 6px;
                    padding-left: 30px;
                }
            
}







/* Destop View */
@media only screen and (min-width: 1025px){
    .desktop_signup {
            margin-left: 0px;
            background: #3A0CA3;
            border-radius: 4px;
            padding: 14px 20px;
            color: #EDE3FF;
        }
   
    .header_animation {
        width: 43%;
        height: auto;
        background-color: gray;
    }
    .shout-out {
        padding-bottom: 18px;
        width: 100%;
        font-weight: 700;
        font-size: 64px;
        line-height: 72px;
        text-align: left;}
    .description_desktop {
        padding-top: 18px;
        display: block;
        padding-bottom: 90px;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        text-align: justify;
    }
    .description_desktop {
        padding-bottom: 90px;
    }
    .header_content{
        padding: 80px 110px;
    }
        .explore_btn {
            font-size: 20px;
            line-height: 28px;
            padding: 16px;
        }
        .content_header {
            font-size: 48px;
            line-height: 56px;
            color: #0E0333;
            padding: 0px 190px;
            padding-top: 0px;
            padding-bottom: 30px;
        }
    
        .content_describe {
            font-size: 36px;
            line-height: 44px;
            color: #0E0333;
            padding: 190px;
            padding-top: 0px;
            padding-bottom: 160px;
        }
    
        .content_animation {
            width: 820px;
            height: 337px;
            margin-bottom: 60px;
    
        }
    
        .content_explore {
            font-size: 20px;
            line-height: 30px;
            color: #EDE3FF;
            margin: auto;
            margin-bottom: 180px;
            background: #3A0CA3;
        }

                .content2_container {
                    background: #0E0333;
                    margin-right: 140px;
                    margin-left: 140px;
                    justify-content: initial;
                    /* padding-right: 10px; */
        
                }
        
                .content2_animation {
                    width: 35%;
                    background: #2F2D33;
                    /* width: 188px; */
                    height: 293px;
                    margin-left: 60px;
                    margin-right: 44px;
                    margin-top: 110px;
                }
        
                .content2_main {
                    width: 50%;
                    margin-top: 115px;
                    margin-right: 24px;
                    padding-right:20px ;
                    /* margin-bottom: 34px; */
                }
        
                .content2_header {
                    font-size: 44px;
                    line-height: 52px;
                    color: #F6F5F7;
                    padding-bottom: 20px;
                }
        
                .content2_describe {
                    font-size: 36px;
                    line-height: 44px;
                    color: #F6F5F7;
                    margin-bottom: 52px;
        
                }
        
                .content2_explore {
                    font-size: 20px;
                    line-height: 30px;
                    color: #EDE3FF;
                    background: #3A0CA3;
                    border-radius: 4px;
                    padding: 10px 20px;
                    margin-bottom: 120px;
                    border: none;
                }
              
                .speed_up {
                    width: 65%;
                    font-size: 60px;
                    line-height: 68px;
                    text-align: center;
                    color: #0E0333;
                    margin-bottom: 150px;
                    margin-top: 150px;
                }

                        .content3_container {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-items: center;
                            margin: 136px 0px;
                        }
            
                        .main_content3 {
            
                            width: 29%;
                        }
            
                        .image_contain {
                            height: 240px;
                            width: 100%;
                            background: #0E0333;
                        }
            
                        .image {
                            display: block;
                            height: 235px;
                            margin: auto;
                        }
            
                        .main_content3_container {
                            height: 258px;
                            width: 100%;
                            background: #866AC4;
                            padding: 0px;
            
                        }
            
                        .main_content3_container_header {
                            font-size: 28px;
                            line-height: 40px;
                            text-align: left;
                            color: #ede3ff;
                            padding-left: 15px;
                        }
            
                        .main_content3_container_describe {
                            font-size: 20px;
                            line-height: 28px;
                            text-align: left;
                            color: #E8E6EB;
                            padding: 6px 0px;
                            padding-left: 15px;
                            padding-right: 30px;
                            height: 112px;
                        }


            
                        /* .extra_padding {
                            padding: 0px;
                            padding-left: 12px;
                        } */
            
                        .main_content3_container_start {
                            font-size: 16px;
                            line-height: 24px;
                            color: #EDE3FF;
                            text-align: left;
                            padding: 6px;
                            padding-left: 15px;
                        }
}

@media only screen and (min-width: 901px){
    .main_header {
            padding-top: 6px;
            margin-bottom: 190px;
        }
    
        .main_nav {
            width: 72%;
    
        }
    
        .nav_item {
            padding: 14px 4px;
    
        }
    
        .desktop_signup {
            margin-left: 8px;
            background: #3A0CA3;
            border-radius: 4px;
            padding: 14px 20px;
            color: #EDE3FF;
        }
    
        .nav_container {
            padding: 0 90px;
        }
    
        .website_name {
            font-family: space1;
            font-style: normal;
            font-size: 28px;
            font-weight: 700;
            margin: 0;
            line-height: 36px;
            color: #F6F5F7;
            position: relative;
        }
    
        .lightbulb {
            width: 9px;
            height: 9px;
            top: 2px;
            left: 33px;
        }
    
        .header_main_content {
            width: 43%;
        }
    
        .desktop_home {
            display: block;
        }
                  .login {
                      margin-left: 90px;
                      border: 1px solid #3A0CA3;
                      border-radius: 4px;
                      padding: 14px 20px;
                  }
}